@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.phone {
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 15px;
    height: 600px;
    width: 340px;
}

.phone .content {
    /* opacity: 0; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    transition: opacity 0.4s ease;
}

.phone .content.show {
    opacity: 1;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

nav ul {
    background-color: rgb(73, 168, 192);
    display: flex;
    list-style-type: none;
    padding: 0; /*items are shifted over once padding is applied*/
    margin: 0;
    height: 60px;
    justify-content: space-around;
}

nav li {
    color:rgb(12, 28, 73);
    cursor: pointer;
    flex: 1; /*moves items further over */
    padding: 10px; /*shifts back towards the center */
    text-align: center;
}

nav ul li p {
    font-size: 12px;
    margin: 6px 0 0;
}

nav ul li:hover, nav ul li .active {
    color:rgb(94, 119, 126);
}

footer {
    color: slategray;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 30px;
    z-index: 0;
}

footer a{
    color: slategray;
    text-decoration: none;
    cursor: pointer;
}